@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

@*<h1> Catygory Index </h1>*@

<div class="container p-3">
    <div class="row pt-4">

        <div class="col-6">
            category list
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                create new category
            </a>
        </div>

    </div>

</div>



<table class="table table-bordered table-stripped" style="width:100%">

    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Dispaly Order number one
            </th>
             <th></th>       
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td width="50%">
                    @item.Name
                </td>
                <td width="30%">
                    @item.DisplayOrder
                </td>
                <td>
                    <a class="btn btn-primary mx-2" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                    <a class="btn btn-secondary mx-2 btn btn-d" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                </td>
               
            </tr>
        }

    </tbody>

</table>